@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url(../fonts/CeraPro-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url(../fonts/CeraPro-Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url(../fonts/CeraPro-BoldItalic.woff2) format(woff2);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url(../fonts/CeraPro-Black.woff2) format(woff2);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0px;
  padding-top: 100px;
  font-family: "Cera Pro", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
p {
  margin-top: 0;
}
h1 {
  margin-top: 0;
}
h2 {
  margin-top: 0;
}
.conteiner {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer .btn {
  line-height: 26;
}

.visual {
  font-size: 0;
  margin-bottom: 20px;
  background-color: rgba(245, 245, 245, 0.5);
}
.visual_text {
  width: 50%;
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  padding: 20px 10% 20px 43px;
}
.visual_text h1 {
  text-transform: uppercase;
  font-size: 16px;
}
.visual_text h1 + p {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
}
.visual_text p {
  margin-bottom: 20px;
}
.green_text {
  color: #46a358;
}
.btn {
  display: inline-block;
  width: 100px;
  font-size: 16px;
  vertical-align: middle;
  background-color: #46a358;
  text-align: center;
  padding: 8px;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid #46a358;
}
.btn-small {
  width: 50px;
}
.btn-big {
  width: 150px;
}
.btn-140 {
  width: 140px;
}
.btn-medium {
  width: 100px;
}
.btn:hover {
  color: #46a358;
  background: #fff;
  border: 2px solid #46a358;
}
.visual .btn {
  text-transform: uppercase;
}
.visual_img {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.header_logo,
.header_menu,
.header_login {
  display: inline-block;
}
.header {
  font-size: 0px;
  border-bottom: 1px solid rgba(70, 163, 80, 0.5);
  padding: 20px 0px;
  margin-bottom: 20px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header_logo {
  width: 150px;
  vertical-align: middle;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header_menu-list .active > a {
  font-weight: 700;
  color: #000;
}
.header_menu-list > li:not(.active):hover > a {
  color: green;
}

.header_menu-list .active::after,
.header_menu-list > li:hover::after {
  font-weight: bold;
  content: "";
  height: 3px;
  width: 100%;
  display: inline-block;
  background: green;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
}

.header_menu-list {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

.header_menu-list a {
  text-decoration: none;
  color: inherit;
}

.header_menu-list > li {
  position: relative;
}

.header_menu-list > li:hover .sub-menu {
  display: block;
}

.header_menu {
  width: calc(100% - 250px);
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  vertical-align: middle;
}
.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  padding-top: 36px;
  width: 188px;
}

.sub-menu li {
  background: rgba(237, 246, 238, 1);
  border-bottom: 1px solid #e2e2e2;
}

.sub-menu li:has(ul) > a::after {
  content: "";
  width: 6px;
  height: 6px;
  border: solid #000;
  border-width: 2px 2px 0 0;
  display: inline-block;
  position: absolute;
  right: 13px;
  top: 11px;
  transform: rotate(45deg);
}
.sub-menu li:hover .second-menu {
  display: block;
}

.sub-menu li:hover > a {
  background: green;
  color: #fff;
}

.sub-menu li:hover > a::after {
  border-width: 0 0 2px 2px;
  border-color: #fff;
}
.sub-menu a {
  display: block;
  padding: 5px;
  position: relative;
}

.second-menu {
  width: 150px;
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  padding-top: 36px;
}

.form-holder {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
.form-holder p {
  text-align: center;
}

.form-holder li {
  display: inline-block;
  margin: 5px 15px;
  text-align: center;
}
input {
  margin-bottom: 5px;
}
form {
  width: 90%;
  margin: 0 auto;
}
.form-holder li + li {
  color: green;
}
.form-holder input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
}
.form-holder button {
  background-color: #46a358;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  width: 300px;
  height: 45px;
  border-radius: 5px;
}
.form a {
  width: 300px;
  height: 40px;
  text-align: center;
}

.float-left {
  float: left;
}

.gray-background {
  background-color: rgba(245, 245, 245, 0.5);
}
.aside_left {
  width: 370px;
  padding-left: 15px;
  display: inline-block;
}
.aside_left a {
  text-decoration: none;
  color: rgba(61, 61, 61, 1);
  margin-left: 15px;
}
.aside_left a:hover {
  color: black;
  text-decoration: underline;
}

.distance {
  margin-bottom: 20px;
}

.aside_left .active a {
  font-weight: 700;
  color: #46a358;
}
.aside_left h2 {
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 10px;
}

.float-right {
  float: right;
}
.section_right {
  width: calc(100% - 390px);
}

.right-menu {
  width: 700px;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  vertical-align: middle;
}

.right-menu li {
  display: inline-block;
  margin: 5px 15px 5px;
}
.left-right-menu {
  display: inline-block;
  width: 340px;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  vertical-align: middle;
}

.right-right-menu select {
  border-style: none;
}
.right-menu a {
  text-decoration: none;
  color: rgba(61, 61, 61, 1);
}
.right-menu a:hover {
  color: #46a358;
  padding-bottom: 3px;
  border-bottom: 3px solid #46a358;
}
.right-menu .active a {
  color: #46a358;
  padding-bottom: 3px;
  border-bottom: 3px solid #46a358;
}
.plants {
  margin: 10px;
  position: relative;
  border-top: 1px solid rgba(245, 245, 245, 0.5);
}
.plants:hover {
  border-top: 1px solid rgba(70, 163, 88, 1);
  cursor: pointer;
}
.plants-link {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  bottom: 55px;
  justify-content: center;
}
.plants-link li {
  padding: 3px 3px;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  margin: 5px;
  border-radius: 4px;
}
.plants:hover .plants-link {
  display: flex;
}

.sale {
  padding: 7px;
  background: rgba(70, 163, 88, 1);
  color: #fff;
  position: absolute;
  top: 16px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  z-index: 5;
}
.green-price {
  color: rgba(70, 163, 88, 1);
  font-weight: 700;
}
.selection-pages {
  width: 215px;
}

.selection-pages li {
  display: inline-block;
}

.selection-pages .btn {
  display: inline-block;
  width: 50px;
  font-size: 16px;
  vertical-align: middle;
  background-color: #fff;
  text-align: center;
  padding: 8px;
  color: #46a358;
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid #46a358;
}
.selection-pages .btn:hover {
  color: #fff;
  background: #46a358;
}

.selection-pages .active .btn {
  color: #fff;
  background: #46a358;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.fl-frame {
  max-width: 1230px;
  margin: 30px auto;
  padding: 0 15px;
  display: flex;
  align-items: stretch;
  gap: 30px;
}

.container {
  justify-content: space-around;
}
.fl-gorizont-frame {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  padding: 10px 20px;
}
.fl-gorizont-frame img {
  margin-top: -40px;
}
.fl-gorizont-frame-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(114, 114, 114, 1);
}

.fl-gorizont-frame-text h2 {
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(61, 61, 61, 1);
}
.fl-gorizont-frame-text .btn {
  margin-top: 14px;
}
.fl-conteiner {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  color: rgba(114, 114, 114, 1);
  font-size: 14px;
  line-height: 22px;
}
.fl-conteiner h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: rgba(61, 61, 61, 1);
}
.fl-cont-center {
  text-align: center;
}
.fl-conteiner-box {
  display: flex;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fl-conteiner-cards {
  width: 25%;
  flex-grow: 1;
  text-align: left;
}

.fl-conteiner-cards img {
  width: 100%;
}

.fl-conteiner-cards-box {
  padding: 10px;
  line-height: 22px;
}

.fl-conteiner-box h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: rgba(61, 61, 61, 1);
}

.read-in-min {
  text-decoration: none;
  color: #46a358;
}
.read-in-min a:hover {
  text-decoration: underline;
}
.read-more {
  text-decoration: none;
  color: rgba(61, 61, 61, 1);
}
.read-more:hover {
  color: #46a358;
}
.footer-list h2 {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: rgba(61, 61, 61, 1);
}
.footer-list p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(61, 61, 61, 1);
}
.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 0;
  background: rgba(251, 251, 251, 1);
}
.footer-list li {
  width: 25%;
  background-repeat: no-repeat;
  padding-top: 100px;
  background-size: auto 80px;
  position: relative;
  padding: 85px 15px 5px;
}
.footer-list li:nth-child(1) {
  background-image: url(../images/picture-1.png);
}
.footer-list li:nth-child(2) {
  background-image: url(../images/picture-2.png);
}
.footer-list li:nth-child(3) {
  background-image: url(../images/picture-3.png);
}
.footer-list li:nth-child(1)::after,
.footer-list li:nth-child(2)::after {
  content: "";
  width: 1px;
  background: rgba(70, 163, 88, 0.1);
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 15px;
}

.footer-list li:nth-child(4) {
  padding: 5px;
}
.medium-footer p {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(61, 61, 61, 1);
}
.medium-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 0;
  background: linear-gradient(
    to right,
    rgba(237, 246, 239, 1),
    rgba(82, 195, 104, 1)
  );
}
.medium-footer img {
  vertical-align: middle;
}

.medium-footer li {
  display: flex;
  justify-content: flex-end;
}

.medium-footer li > * {
  max-width: 200px;
}
/* .medium-footer li:nth-child(2) {
  padding-left: 100px;
}
.medium-footer li:nth-child(1) {
  width: 150px;
}
.medium-footer li:nth-child(2),
.medium-footer li:nth-child(3),
.medium-footer li:nth-child(4) {
  width: calc((100% - 150px) / 3);
}
.medium-footer li:nth-child(3),
.medium-footer li:nth-child(2) {
  text-align: right;
}
.medium-footer li:last-child {
  text-align: right;
} */

.bottom-footer h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
}
.bottom-footer {
  padding: 10px;
  background: rgba(251, 251, 251, 1);
  line-height: 30px;
  color: rgba(61, 61, 61, 1);
  border-bottom: 1px solid #46a358;
}
.bottom-footer .distance a {
  text-decoration: none;
  color: rgba(61, 61, 61, 1);
}
.bottom-footer .distance a:hover {
  color: black;
  text-decoration: underline;
}
.copyright-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.bot-foot-grow {
  display: flex;
  justify-content: space-between;
}
.bot-foot-grow > li {
  width: 25%;
  flex-grow: 1;
}
.bot-foot-grow li:last-child img {
  display: block;
  padding-top: 15px;
}

.enter-emails h2 {
  padding-bottom: 10px;
}
.enter-emails input {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding-right: 0px;
}
.enter-emails button {
  width: 50px;
  height: 40px;
  background: #46a358;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  padding-left: 0px;
}
.enter-emails button:hover {
  color: black;
  cursor: pointer;
}

.medium-footer a:hover {
  text-decoration: underline;
}

.medium-footer address a {
  text-decoration: none;
  color: rgba(61, 61, 61, 1);
}
