.form-holder {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
input {
  margin-bottom: 5px;
}
form {
  width: 90%;
  margin: 0 auto;
}
li + li {
  color: green;
}
/* br+a {width: 300px;  */
/* text-align: center; */
/* } */
.form-holder input {
  width: 293px;
  height: 35px;
  border-radius: 5px;
}
.form-holder button {
  background-color: #46a358;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  width: 300px;
  height: 45px;
  border-radius: 5px;
}
.form a {
  width: 300px;
  height: 40px;
  text-align: center;
}
